<%- include ../header %>
<script>
	seajs.use("js_cmd/stock/editBlock-cmd");
</script>
<link href="/css/stock/editBlock.css?v=<%= config.version %>" rel="stylesheet" />
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">SP</a>
	</div>
	<div>
		<ul class="nav navbar-nav navbar-right mr ml">
			<li>
				<p class="navbar-text">欢迎您，<%= params.user.username %></p>
			</li>
			<li>
				<a href="/user/logout">退出</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<div class="list-group">
   				<a href="#" class="list-group-item active">编辑板块</a>
   				<a href="/stock/showGraphCV" class="list-group-item">股票查询</a>
			</div>
		</div>
		<div class="col-sm-10">
			<table class="table">
   				<caption>板块编辑</caption>
   				<thead>
      				<tr>
        				<th>板块名称</th>
         				<th>股票代码</th>
      				</tr>
   				</thead>
   				<tbody>
      				<% if (params.blocks.length > 0) { %>
      				<% for (var i = 0; i < params.blocks.length; i++) { %>
      				<tr>
      					<td>
      						<span data-id=<%= params.blocks[i].id %>><%= params.blocks[i].blockname %></span>
      						<span class="block-edit glyphicon glyphicon-pencil"></span>
      						<span class="block-remove glyphicon glyphicon-remove-sign"></span>
      					</td>
      					<td>
      						<% for (var j = 0; j < params.blocks[i].stocks.length; j++) { %>
      						<p class="stocks">
      							<span><%= params.blocks[i].stocks[j] %></span>
      							<span class="stock-remove glyphicon glyphicon-remove-sign"></span>
      						</p>
      						<% } %>
      						<p><span class="stock-plus glyphicon glyphicon-plus" data-toggle="modal" 
   data-target="#stockPlus"></span></p>
      					</td>
      				</tr>
      				<% } %>
      				<% } %>
      				<tr id="last_tr">
      					<td><span class="block-plus glyphicon glyphicon-plus"></td>
      					<td>--|--</td>
      				</tr>
   				</tbody>
			</table>
		</div>
	</div> 
</div>
<!--新建板块模态框-->
<div class="modal fade" id="blockNew" role="dialog" aria-hidden="true">
   	<div class="modal-dialog">
      	<div class="modal-content">
         	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            	<h4 class="modal-title">新建板块</h4>
        	</div>
        	<div class="modal-body">
            	<label>板块名称：</label>
            	<input type="text" id="input_new_block" placeholder="请输入板块名称">
        	</div>
        	<div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            	<button type="button" class="btn btn-primary" id="btn_new_block">创建</button>
        	</div>
      	</div>
    </div>
</div>
<!--编辑板块模态框-->
<div class="modal fade" id="blockEdit" role="dialog" aria-hidden="true">
   	<div class="modal-dialog">
      	<div class="modal-content">
         	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            	<h4 class="modal-title">编辑板块</h4>
        	</div>
        	<div class="modal-body">
            	<label>板块名称：</label>
            	<input type="text" id="input_edit_block" placeholder="请输入板块名称">
              <input type="hidden" id="input_old_block" value="">
        	</div>
        	<div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            	<button type="button" class="btn btn-primary" id="btn_edit_block">修改</button>
        	</div>
      	</div>
    </div>
</div>
<!--添加股票模态框-->
<div class="modal fade" id="stockPlus" role="dialog" aria-hidden="true">
   	<div class="modal-dialog">
      	<div class="modal-content">
         	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            	<h4 class="modal-title">添加股票</h4>
        	</div>
        	<div class="modal-body">
            	<select id="market">
					<option value="sh">上证</option>
					<option value="sz">深证</option>
				</select>
            	<input type="text" id="input_add_stock" placeholder="请输入股票代码">
        	</div>
        	<div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            	<button type="button" class="btn btn-primary" id="btn_add_stock">添加</button>
        	</div>
      	</div>
    </div>
</div>

<%- include ../footer %>